.result {
  padding: .5rem;
}

.storySearch {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background: #0070f3;
  border-radius: 5px;
  color: white;
  width: 40%;
}

.searchBar:hover,
.searchBar:focus {
  border: 1.5px solid #009688;
  background-color: white;
}

.results {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
